
// $container-max-widths: (
//     sm: 540px,
//     md: 720px,
//     lg: 960px,
//     xl: 1280px
// ) !default;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1200px
) !default;

// Variables
$grey: #DDDDDD;
$grey-10: rgb(185, 185, 185);
$grey-43: rgb(110, 110, 110);
$yellow: #FED700;
$white-smoke: #F5F5F5;


/********** Bootstrap classes *****************/
// .text-secondary {
//     color: $grey;
// }

