


// imports 
// @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import "_project_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";

// body {
//     font-family: 'Roboto', sans-serif;
// }


div {
    box-sizing: border-box;
}

// Global Styles 
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.product-card {
    margin-bottom: 15px;


    // product-item-* inner classes but has global style
    .item-category {
        color: $grey-43;
        margin-bottom: 10px;
        display: inline-block;
    }

    .wl-wrapper {
        border-top: 1px solid $grey;

        a {
            color: gray;
        }
        .fa {
            color: $grey-10;
        }
    }

    .product-item {
        margin: 30px 12px 15px 12px;
        padding: 10px; 

        &:hover {
            box-shadow: 1px 1px 10px 2px $grey;

            .price-wrapper .add-to-cart {
                background: $yellow;
            }
        }

        img {
            display: block;
            width: 70%;
            margin: 0 auto;
        }

        .price-wrapper {
            height: 70px;

            .add-to-cart {
                width: 45px;
                height: 45px;
                border-radius: 100%;
                background: $grey;
                margin-bottom: 15px;

                .fa {
                    font-size: 1.6em;
                    color: #fff;
                    display: block;
                    margin: 10px 10px;
                }
            }
        }
    } //product-item ends here 


    // product-item List View Styling
    .product-item-lv {
        padding: 50px 0;
        border-bottom: 1px solid $grey-10;

        .image-wrapper {
            width: 30%; 

            img {
                width: 90%;
                display: block;
                margin: 0 auto;
            }
        }
        // product info div 
        .info-wrapper {
            width: 45%;

            //ul tag that is used to write features
            .bullet-features{
                font-size: 0.9em;
                color: $grey-43;
                margin-top: 28px;

                li {
                    padding: 8px 0; 

                    &::before {
                        content: '\f1db';
                        font-family: FontAwesome;
                        display: inline-block;
                        margin-right: 8px;
                        font-size: 0.9em;
                    }
                }
            }
        }

        .buy-wrapper {
            width: 20%;

            .add-to-cart {
                width: 100%;
                margin-top: 25px;
    
                a {
                    display: block;
                    background: $yellow;
                    padding: 12px;
                    border-radius: 25px;
                    text-align: center;
                    text-decoration: none;
                    font-weight: bold;
                    color: #fff;

                    &:hover {
                        background: #333;
                    }
                }
            }

            .wl-wrapper {
                border: none;
                margin-top: 20px;
            }
        }
    }
}

// Star icons (ratings)
.star-rating {
    .fa {
        color: $yellow;
    }
}


/*********** Responsive styles *************/

// Style for below 760px
@include media-breakpoint-down(sm){
    // Global styles 
    h5 {
        font-size: 80%;
        font-weight: bold;
    }

    .product-card {
        
        .product-item-lv {
            .image-wrapper {
                img {
                    width: 100%;
                }
            }
        }
    }
}


// Style for below 575px
@include media-breakpoint-down(xs) {

    .search-content{
        .product-item{
            width: 50%;

            img {
                width: 60%;
            }
        }
    }
}

// Responsive, for less than 300px screen size
@media only screen and (max-width: 300px) {
    // Global styles
    h5 {
        font-size: 70%;
        font-weight: bold;
    }

    //Display only single product card item
    .search-content{
        .product-item{
            width: 100%;

            img {
                width: 40% !important;
            }
        }
    }
}


.text-grey {
    color: grey;
}

.products-carousel {
    // padding: 0 25px 0 25px;

    .product-nav-tab {
        border-bottom: 1px solid $grey;
    }
}
    

    .latest-product-sidebar {
        margin-top: 30%;

        h5 {
            border-bottom: 1px solid $grey;
            padding-bottom: 15px;
            margin-bottom: 30px;
            position: relative;

            &::after {
                content: ' ';
                width: 3.684em;
                border-bottom: 2px solid $yellow;
                position: absolute;
                bottom: -1px;
                left: 0;
            }
        }
        

        ul {
            padding: 0;

            li {
                list-style-type: none;
                margin-bottom: 30px;
    
                .thumbnail-wrapper {
                    width: 45%;
                    padding-right: 3%;

                    img {
                        width: 100%;
                    }
                }

                .price h6 {
                    font-weight: bold;
                }
            }
        }
    }

    .owl-prev, .owl-next {
        width: 15px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block !important;
        border:0px solid black;
    }
    .owl-prev { left: -20px; }
    .owl-next { right: -20px; }
    .owl-prev i, .owl-next i {transform : scale(2,5); color: #ccc;}


    // Search Result Styling
    .search-result-wrapper{


        // Search Control Bar
        .search-control-bar {
            background: $white-smoke;
            padding: 8px 18px;
            border-radius: 5px;
            margin: 0;

            //View Icons
            .view-icons {
                max-width: 200px;

                a {
                    color: $grey;
                    padding: 0;

                    .fa {
                        font-size: 1.4em;
                    }

                    &:hover, &.active {
                        color: #333;
                    }
                }
            }

            select, input[type=number] {
                border:1px solid rgb(177, 175, 175);
                padding: 5px;
                border-radius: 20px;
                background: #fff;
                color: grey;
            }

            input[type=number]{
                width: 80px;
            }
        }

        // Input Pagination
        .input-pagination{
            a {
                color: $grey-10;
            }
        }
    }

.search-content {
    .product-item{
        margin: 0 0 15px 0;
    }
}

.nav-list {

    padding: 0;    
    li {
        list-style-type: none;
        margin-bottom: 8px;

        a {
            color: #333;
            display: inline-block;
            line-height: 1.714em;
            padding: 5px;

            &:hover {
                text-decoration: none;
            }
        }

        a::before {
            content: "\f096";
            font-family: FontAwesome;
            display: inline-block;
            margin-right: 15px;
            font-size: 1.143em;
        }

        a:hover::before {
            content: "\f14a";
            color: $yellow;
        }
    }
}

// Bootstrap pagination
.pagination {

        .page-link, .page-info {
            color: $grey-43;
        }

        .page-item.disabled {
            .page-link {
                background: $white-smoke;
            }
        }
    
        .page-item.active {
            .page-link {
                background: $yellow;
                border: 1px solid $yellow;
                color: #333;
                font-weight: bold;
            }
        }
    }